#{extends 'main.html' /}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <style>
        #siteBackground{
            background-color:#FDFEFE;
            height:100%
        }

        .bigDiv{
            height: 100vh !important;
        }

        .smallDiv{
            height: 95%;
        }

        .chat-input {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .feed {
            background-color: #7DCEA0;
        }

        .chat-list {
            background-color: #FF5733
        }
    </style>

</head>
    <body>
        <div class="bigDiv col-md-8 col-md-offset-2 " id = "siteBackground">
            <img src="../../../public/images/Logo_V1.png">

                <div class = "smallDiv row">
                    <div class = "chat-list col-3">
                        chat list
                    </div>

                    <div class = "feed col-9">
                        chat area
                        <br>
                        <div class="col chat-input">
                            <input type="text" name="textBox1" style=" width: 80%"/>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>