#{extends 'main.html' /}


<!DOCTYPE html>
<html lang="en">
<head>

    <script type="text/javascript">
        var socket;
        $(document).ready(function () {
            socket = new WebSocket('ws://localhost:9000/messengerSocket?username=' + $('#username').val());
            socket.addEventListener('message', function (event) {
                console.log(event.data);
                $('#chat-box').append("<div>" + event.data + "</div>");
            });
        });


        function sendMessage(message) {
            socket.send($('#username').val() + ":" + message);
            console.log('sent message');
        }

        function addMessage() {
            var message = $('#message-box').val();
            console.log("adding message: "+ message);
            var node = document.createElement("div");
            var textNode = document.createTextNode("You: " + message);
            node.appendChild(textNode);
            document.getElementById("chat-box").appendChild(node);
            sendMessage(message);
        }


    </script>
    <meta charset="UTF-8">
    <title>Chat</title>

    <style>
        #siteBackground{
            background-color:#FDFEFE;
            height:100%
        }

        .bigDiv{
            height: 100vh !important;
        }

        .smallDiv{
            height: 95%;
        }

        .chat-input {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .feed {
            background-color: #FDFEFE;
        }

        .chat-list {
            background-color: #FDFEFE
        }
    </style>

</head>
    <body>
        <div class="bigDiv col-md-8 col-md-offset-2 " id = "siteBackground">
            <img src="../../../public/images/Logo_V1.png">

                <div class = "smallDiv row">
                    <div class = "chat-list col-3">

                    </div>

                    <div class = "feed col-9">
                        <h2>Board Members: </h2>

                        <div class="row">
                            <label>
                                Active members:
                            </label>
                            <div id = "activeUserList">

                            </div>


                        </div>
                        <div class="form-group  form-control col-11" id="chat-box" style="overflow: scroll; height: 70%;">
                        </div>
                        <br>
                        <div class="col-11">
                            <div class="input-group">
                                <input id="message-box" class="form-control"  placeholder="Compose Message">
                                <input type="hidden" id="username" name="name" value="${username}">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" onclick="addMessage()">Send</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </body>
</html>