#{extends 'main.html' /}


<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function addMessage(message) {
            console.log(message);
            var node = document.createElement("div");
            var textNode = document.createTextNode(message);
            node.appendChild(textNode);
            document.getElementById("chat-box").appendChild(node);
        }
    </script>
    <meta charset="UTF-8">
    <title>Chat</title>

    <style>
        #siteBackground{
            background-color:#FDFEFE;
            height:100%
        }

        .bigDiv{
            height: 100vh !important;
        }

        .smallDiv{
            height: 95%;
        }

        .chat-input {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;


        }

        .feed {
            background-color: #FDFEFE;
        }

        .chat-list {
            background-color: #FDFEFE
        }
    </style>

</head>
    <body>
        <div class="bigDiv col-md-8 col-md-offset-2 " id = "siteBackground">
            <img src="../../../public/images/Logo_V1.png">

                <div class = "smallDiv row">
                    <div class = "chat-list col-3">

                    </div>

                    <div class = "feed col-9">
                        <h2>Board Members: </h2>
                        <div class="form-group  form-control col-11" id="chat-box" style="overflow: scroll; height: 70%;">

                        </div>
                        <br>
                        <div class="col-11">
                            <div class="input-group">
                                <input type="text" id="message-box" class="form-control"  value="message" placeholder="jibber-jabber" aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" onclick="addMessage(document.getElementById('message-box').value)">Send</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </body>
</html>