#{extends 'main.html' /}

<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = new WebSocket('ws://localhost:9000/socket?name=ted');
            socket.addEventListener('message', function (event) {
                console.log(event.data);
                $('#userFirstName').val("cooper");
                $('#userSecondName').val("bell");
                $('#userUserName').val("cooperbell");
                $('#userPassword').val("boobs");
            });
        });
    </script>
    <style>
        body, html {
            height: 100%;
            display: grid;
        }

        .container {
            margin: auto;
            height: 1000px;
        }

        .inputArea {
            margin: 5px;
        }

        label {
            font-size: 24px;
        }

        h1 {
            font-size: 32px;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="../../../public/images/LoginHeader2.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <div class="row">
        <div class="col-2">

        </div>
        <form action="@{controllers.Application.chat()}" method="post">
            <div class="form-group inputArea">
                <label for="exampleInputEmail1">Log In</label>
                <input type="tel" class="form-control" aria-describedby="emailHelp" name="username"
                       placeholder="Username" required>
                <select class="selectpicker inputArea" name="chatId">
                    <option>jibber</option>
                    <option>jabber</option>
                </select>

            </div>
            <button type="submit" class="btn btn-primary inputArea">Submit</button>
        </form>
        <div class="col-2">

        </div>
    </div>
</div>
</body>
</html>